<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>

</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus assumenda, ratione minima et reprehenderit, quam dignissimos omnis quis, delectus quibusdam praesentium quas odio debitis harum dicta minus itaque atque repellat ad laboriosam. Asperiores nihil temporibus distinctio ipsum atque eos rerum assumenda, qui molestias facilis, saepe ex, accusamus beatae mollitia ipsa sint voluptates neque pariatur sunt eum repellat repudiandae. Nostrum fugiat alias ab culpa nesciunt illum sequi velit debitis, accusantium ullam expedita quas porro repellat! Sed dicta eligendi quas dolores laudantium est, error porro et soluta sint fuga perferendis debitis a exercitationem quo obcaecati odit! Officiis, autem et. Ut delectus, aperiam porro neque earum impedit! Vero facilis laborum molestiae, aspernatur est illum reprehenderit earum incidunt eligendi sed nam impedit voluptatem aliquam! Vero, delectus optio cum quaerat natus laudantium quas illum in fuga nihil aspernatur ad ratione provident iure commodi quasi odit et. Aliquid quam quidem porro consectetur eveniet nostrum adipisci itaque rerum totam in nemo aspernatur dignissimos, blanditiis similique, quas doloribus facilis earum soluta odio optio fugiat iste nisi? Minima voluptatum voluptas sint corrupti, fugiat eum placeat, sunt modi dolorem repudiandae itaque dolore quaerat, illo assumenda dolorum nobis vero nihil iste cupiditate magni! Ullam asperiores nihil molestiae sint saepe repellat eum!
            </p>
        </section>
    </main>
</body>
</html>