<footer>
    <h1>
        Lorem ipsum dolor
    </h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure est nam odio placeat ex dolore dolorem facilis! Recusandae vel distinctio eaque fugiat! Corporis voluptas eaque, recusandae excepturi praesentium aliquam quod?
    </p>
</footer>